:root {
  --primary-color: #8e75ca;
  --secondary-color: #ae3ed7;
  --bg: #1c1c1c;
}

body {
  background-color: var(--bg);
  color: white;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a.active {
  color: white;
  background-color: var(--primary-color);
}

li {
  position: relative;
  padding-left: 1em;
  list-style: none;
}

li::before {
  content: "> ";
  color: var(--primary-color);
  position: absolute;
  left: 0;
}

h1.title {
  font-size: larger;
  letter-spacing: 0;
  flex-grow: 1;
}

.username {
  color: var(--secondary-color)
}

.cursor {
  animation: blink 1s infinite alternate;
}

.location {
  color: var(--primary-color)
}

@keyframes blink {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

ul.nav {
  display: flex;
  gap: 20px;
  padding-left: 0;
}

span.blue {
  color: cyan;
}

span.pink {
  color: pink
}

header {
  margin: 1rem;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pfp {
  width: 50%;
  height: auto;
  border: 4px solid var(--primary-color);
}


@media only screen and (min-width: 600px) {
  header {
    display: flex;
  }

  .pfp {
    width: 224px;
    height: 224px;
  }

  .homepage {
    flex-direction: row;
    gap: 30px;
  }
}

footer {
  min-height: 30px;
  width: 100%;
  text-align: center;
  font-size: small;
}

main {
  flex: 1;
  margin: 1rem;
  margin-top: 0;
}